/* //////////////////////////////////////////////////     GÉNÉRAL      ////////////////////// */

:root { 
	--color-base: hsl(15, 88%, 60%);
    
    --color-clair: hsl(15, 95%, 77%);
    --color-obscur: hsl(15, 90%, 40%);
    --color-highlight: hsl(169, 70%, 55%);
    --color-highlight-clair: hsl(169, 70%, 80%);
    --color-background: hsl(350, 81%, 95%);
}


html {
    font-size: 12px;
}

body {
    font-family: Cairo, 'Noto sans', sans-serif;
    margin: 0;
    width: 100%;
    background-color: var(--color-base);
}

main {  width: 100%;    }

h1 {
    font-family: "Climate Crisis", serif;
    font-size: 4rem;
    margin: 0;
    letter-spacing: 1px;
}

p {
    font-family: "Assistant", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    line-height: 2;
}

a {
	font-family: "Assistant", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-highlight);
}

.container {
    width: 100%;
    max-width: 1080px;
    padding: 0;
    margin: 0 auto;
}

#card-game {
    width: 100%;
    max-width: 580px;
    height: 500px;
    margin: 0 auto;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    background: linear-gradient(145deg, var(--color-background), #ffffff);
    box-shadow:  20px 20px 60px var(--color-base),
                -20px -20px 60px var(--color-obscur);
}

#card-game form {
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#card-game h1 {
    padding: 40px 50px 20px;
    color: var(--color-base);
}

label {
    font-family: "Assistant", serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--color-obscur);
    margin: 0;
    width: 100%;
    text-align: right;
}

input {
    width: 100%;
    padding: 5px;
    font-family: "Assistant", serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--color-highlight);

    margin: 0;
    text-align: right;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    animation: 1s infinite clignotement;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
 
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
 
/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}

@keyframes clignotement {
    0% {
        opacity: 0;
      }
    100% {
        opacity: 1;
      }
}

input::placeholder {
    color: var(--color-highlight-clair);
}

input:focus {
    animation: none;
    outline: none;
}

button {
    width: 200px;
    margin: 10px auto 20px;
    padding: 15px 20px;
    border-radius: 7px;
    border: 1px solid white;
    background-color: var(--color-base);
    box-shadow:  10px 10px 30px var(--color-clair),
                -10px -10px 30px var(--color-background);

    font-family: "Climate Crisis", serif;
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
}

button:hover {
    cursor: pointer;
    background-color: var(--color-obscur);
    box-shadow:  5px 5px 20px var(--color-clair),
                -5px -5px 20px var(--color-background);
               
}

#card-game p {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    padding: 0 10px;
    background-color: var(--color-background);

    font-family: "Assistant", serif;
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--color-clair);
}